@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  font-family: inter, var(--sl-font-sans);
}

:root {
  --sl-color-primary-50: var(--sl-color-gray-50);
  --sl-color-primary-100: var(--sl-color-gray-100);
  --sl-color-primary-200: var(--sl-color-gray-200);
  --sl-color-primary-300: var(--sl-color-gray-300);
  --sl-color-primary-400: var(--sl-color-gray-400);
  --sl-color-primary-500: var(--sl-color-gray-500);
  --sl-color-primary-600: var(--sl-color-gray-600);
  --sl-color-primary-700: var(--sl-color-gray-700);
  --sl-color-primary-800: var(--sl-color-gray-800);
  --sl-color-primary-900: var(--sl-color-gray-900);
  --sl-color-primary-950: var(--sl-color-gray-950);
}

/* 
:root,
:host,
.sl-theme-light {
  your custom styles for the light theme here 
  vist https://codepen.io/claviska/full/QWveRgL for a color token generator
} 
*/

/* 
:host,
.sl-theme-dark {
  your custom styles for the dark theme here 
  vist https://codepen.io/claviska/full/QWveRgL for a color token generator
} 
*/

body {
  margin: 0;
}



