@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url(tokens.css);
@import url(colors.module.css);
@import url(typography.module.css);
@import url(theme.light.css) (prefers-color-scheme: light);
@import url(theme.dark.css) (prefers-color-scheme: dark);
@import url(custom.tokens.css);

:root {
  --md-ref-typeface-brand: "Inter", sans-serif;
  --md-ref-typeface-plain: "Inter", sans-serif;
  font-family: "Inter", sans-serif;
}

