html {
  --background: #e0e0e0;
  --neutral: #c1c1c1;
  --neutral-foreground: #000000;
  --primary: #efc048;
  --primary-hover: #edb032;
  --primary-foreground: #000000;
  --border: #676767;
  --border-radius: 16px;
  --shadow: 0 1px 8px #000000;
  --link: var(--primary);
}

html[theme="dark"] {
  --background: #32302a;
  --neutral: #1d1b17;
  --neutral-foreground: #e9e1d9;
}
